* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 3px
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width:  800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 3px solid rgb(1, 75, 235);
    margin-top: 15px;
    justify-content: space-between;
    align-items: top;
    border-radius: 10px;
}

.smallpost {
    display: flex;
    padding: 10px;
    border: 3px solid rgb(1, 75, 235);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.code {
    white-space: pre-line;
}

.print-agreement {
    margin: 15px;
}