.myBtn {
    width: 100%;
    padding: 5px 15px;
    color: rgb(1, 75, 235);
    font-size: 14px;
    background: transparent;
    border: 3px solid rgb(1, 75, 235);
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}